/* MAIN */
.ov-section {
  display: flex;
  /* height: 500px; */
  /* flex-direction: row; */
  /* background-color: rgb(138, 72, 231); */
}

.ov-info {
  padding: 5px 0;
  display: inline-block;
  width: 33%;
  /* background-color: rgb(216, 147, 57); */
  /* flex: 1 1 0; */
}

.ov-img-container {
  height: 100%;
  max-height: 100%;
  width: 66%;
  display: inline-block;
  /* padding: 15px 0; */
  margin-right: 3%;
  /* background-color: rgb(227, 191, 144); */
  /* flex: 1.8 1 0; */
}

/* IMAGES */
.image-gallery {
  position: relative;
  /* background-color: rgb(249, 249, 249); */
  /* background-color: rgb(201, 39, 39); */
  padding: 3px;
  width: 100%;
  max-width: 100%;
  height: 600px;
}

.ov-img {
  /* padding: 10px; */
  /* background-color: rgb(196, 237, 123); */
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: contain;
  /* overflow: hidden; */
  /* fill 100% */
}


.ov-carousel {
  position: absolute;
  top: 90%;
  left: 10%;
  transform: translate(0, -100%);
  width: 80%;
  height: 90px;
  /* max-height: 100px; */

  /* float: left; */
  overflow-x: auto;

  white-space: nowrap;

  /* background-color: rgb(126, 155, 188); */
}

.ov-image-select {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50%;
  height: 90px;

  /* overflow-x: auto; */
  /* white-space: nowrap; */

  /* background-color: rgb(50, 218, 111); */
}

.left-arrow {
  position: absolute;
  top: 80%;
  left: 15%;
  transform: translate(-100%, -50%);
  z-index: 1;
}

.right-arrow {
  position: absolute;
  top: 80%;
  left: 85%;
  transform: translate(0%, -50%);
  z-index: 1;

}

.ov-mini-container {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 2px;
}

.ov-mini-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* HEADER */

.ov-header {
  /* background-color: rgb(123, 226, 171); */
}

.ov-review {
  margin: 0 0 10px 0;
  /* background-color: rgb(164, 209, 128); */
}

.ov-category {
  margin: 10px 0 0 0;
  /* background-color: rgb(103, 175, 168); */
}

#prod-title {
  margin: 5px 0 0 0;
  /* background-color: rgb(77, 92, 186); */
}

.ov-price {
  font-size: 1.2em;
  margin: 10px 0;
  /* background-color: rgb(138, 125, 202); */
}

.ov-price-sale {
  margin: 10px 0;
  /* background-color: rgb(234, 107, 107); */
}

/* STYLES SELECTOR */
.ov-styles-selector {
  width: 100%;
  flex-wrap: wrap;
  display: block;
  flex-direction: column;
  margin: 30px 0;
  min-height: 200px;
  max-height: 250px;
  overflow-y: auto;
  block-size: fit-content;
  /* background-color: rgb(131, 183, 254); */
}

.ov-style-text {
  /* background-color: rgb(218, 125, 228); */
  margin-bottom: 20px;
}

.ov-style-container {
  /* background-color: rgb(191, 30, 216); */
  position: relative;
  width: 60px;
  /* min-width: 50px; */
  padding-bottom: 60px;
  margin: 5px 3%;
  float: left;
  height: 0;
}

.ov-style-select {
  /* margin: 0 10px; */
  /* background-color: rgb(97, 7, 111); */
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  transition: .5s ease;
  /* circle crop? */
}



.ov-style-select:hover {

  box-shadow: 0 0 5px 7px rgb(182, 172, 255);
 
  transition: .2s ease;
}


/* ADD TO CART SECTION */

.ov-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  overflow-y: auto;
  max-height: 200px;
  /* background-color: rgb(208, 184, 220); */
}

.ov-form-1 {
  display: flex;
  flex-wrap: wrap;
  height: 50%;
  flex-direction: row;
  padding-left: 2%;
}

.ov-form-2 {
  display: flex;
  flex-wrap: wrap;
  height: 50%;
  flex-direction: row;
}

.add-cart-button {
  position: relative;
  display: inline-block;
  flex: 1 1 0;
  /* background-color: rgb(176, 212, 200); */
}

.ov-fave-btn {
  /* background-color: rgb(213, 148, 63); */
  flex: 1 1 0;
}

.quantity-drop {
  position: relative;
  font-size: 1.6em;
  /* background-color: rgb(40, 166, 88); */
  flex: 1 1 0;
}

.size-drop {
  min-width: fit-content;
  /* position: relative; */
  /* background-color: rgb(155, 219, 179); */
  font-size: 1em;
  flex: 1 1 0;
}

.select-size-qty {
  min-width: 90px;
  width: 90%;
  height: 50px;
  padding: 5px 35px 5px 5px;
  font-size: 18px;
  border: 2px solid #ccc;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("https://i.pinimg.com/736x/59/e2/37/59e237615ce90d9693eca27fbe183351.jpg") 96% / 15% no-repeat #eee;
}

.add-cart-button {
  min-width: fit-content;
  /* background-color: rgb(215, 106, 106); */
  /* margin: 0; */
  /* padding: 10px; */
}

.ov-size-pick {
  /* background-color: rgb(217, 219, 108); */
}