/* .modal-content > *,
.modal-content > * > *,
.modal-content > * > * > *,
.modal-content > * > * > * > * {
  border: red solid 1px;
} */

.review-modal-specs {
  height: 70%;
  font-family: 'Varela Round', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .modal-content > * {
  background-color: bisque;
}

.modal-content > form {
  background-color: pink;
}

.modal-content > * > * {
  background-color: brown;
}

.modal-content > * > * > * {
  background-color: green;
}

.modal-content > * > * > * > *  {
  background-color: yellowgreen;
} */

.form-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
  padding: 5px;
  background-color: rgb(251, 251, 251);
}

.form-product {
  text-decoration: underline;
}

#addReview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(251, 251, 251);
  height: 75%;
  margin: 7% 0%;
  padding: 5px;
  width: 70%;
}

#addReview > div {
  margin-bottom: 5px;
}

.form-category-font {
  font-size: 20px;
}

.form-rating {
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-size: 20px;
}

.form-star-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.form-star-def {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
}

.form-star-radio-button {
  display: none;
}

.form-recommend {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-char-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-ind-char-cont {
  padding-left: 5px;
  display: flex;
  flex-direction: column;
}

.form-ind-char {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 5px;
}

.form-ind-char > div > label {
  flex-direction: row;
  display: flex;
  align-items: center;
}

.form-char-selected {
  font-size: 12px;
}

.form-char-def {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
}

.single-line-input {
  display: flex;
  flex-direction: row;
  align-items: center
}

.form-input-width {
  width: 300px;
}

.form-body-cont {
  display: flex;
  flex-direction: column;
}

.form-body-input {
  display: flex;
  flex-direction: column;
}

.form-body-input > textarea {
  width: 90%;
  height: 60px;
  margin: 1px auto;
}

.form-body-input > span {
  text-align: right;
  font-size: 10px;
  width: 90%;
  margin: 1px auto;
}

.form-photos-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-photos-input {
  width: 90%;
  padding: 1px 10px;
  margin: 1px auto;
}

.form-buttons-container {
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
  width: 35%;
}

.form-buttons-container > span {
  border-radius: 5px;
  padding: 3px;
  font-size: 14px;
}

.form-name-email-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-warning {
  font-size: 10px;
  color: red;
  width: 50%;
  text-align: right;
}


/* Reviews */

.ratings-reviews-cont {
  /* background-color: rgb(159, 198, 172); */
  background-color: white;
  min-height: 300px;
  margin: 130px 0 0 0;
}

span.rating-span {
  font-size: 40px;
}

span.star-span {
  height: 30px;
}

.review-cont {
  width: 75%;
  padding: 3%;
}

.ratings-reviews {
  display: flex;
  flex-direction: row;
}

/* sort form  */

.sort-reviews-container {
  margin-bottom: 15px;
}

form .sort-header {
  font-size: 22px;
}

.sort-selector {
  font-size: 22px;
  font-family: 'Varela Round', sans-serif;
  color: rgb(56, 56, 56);
  text-decoration: underline;
  border: none;
  background-color: transparent;
}

/* review list */

.reviewList {
  max-height: 500px;
  overflow: auto;
  padding: 5px;
  background-color: rgb(251, 251, 251);
}

.scroll {
  max-height: 600px;
  overflow: auto;
}

/* review tile */

.review-tile {
  margin-bottom: 5px;
  padding: 1px;
  background-color: white;
  max-height: 250px;
}

.review-tile-head {
  display: flex;
  justify-content: space-between;
}

.review-tile-content {
  padding: 5px;
}

.review-tile-user {
  /* background-color: yellow; */
  font-size: 14px ;
}

#by {
  font-size: 10px;
}
.review-tile-user > div {
  font-size: 10px;
  font-weight: bold;
  padding-left: 5px;
  margin-bottom: 5px;
}

.review-tile-body {
  /* background-color: aqua; */
  max-height: 100px;
  max-width: 500px;
  overflow: auto;
}

.review-tile-body-body {
  font-size: 14px;
  padding-left: 5px;
}

.review-tile-body > span {
  font-size: 20px;
}

.review-tile-help {
  font-size: 13px;
  /* background-color: pink; */
}

/* breakdown */

.breakdown-cont {
  background-color: white;
  width: 25%;
  padding: 3%;
}

.rating-and-stars {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 5px;
}

/* Quarter star CSS */


.single-star-outline {
  height: 24px;
  width: 20.3px;
}

.single-star-fill {
  position: relative;
  display: inline-block;
  height: 24px;
  background-color: black;
}

.single-star-container {
  height: 24px;
  width: 20.3px;
  display: inline-block;
}

.rec-statement {
  font-size: 15px;
  margin-bottom: 5px;
}

/* Progress Bar CSS */

.barRatingsContainer {
  margin-bottom: 5px;
}

.barRatingsContainer > div {
  display: flex;
  align-items: center;
}

.barContainerStyles {
  height: 20px;
  width: 120px;
  background-color: "#e0e0de";
  border-radius: 1px;
  border: solid black 1px;
  margin: 5px;
}

.barFillerStyles {
  height: 100%;
  background-color: gray;
  border-radius: inherit;
  text-align: right;
}

.barLabelStyles {
  padding: 5;
  color: black;
  font-weight: bold;
  font-size: 10px;
}

/* Characteristics Display CSS */

.charBarContainer {
  width: 198px;
  display: flex;
  flex-direction: row;
}

.charBarContainer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.charWordContainer {
  width: 198px;
  display: flex;
  justify-content: space-between;
}

.charContainerStyles {
  height: 5px;
  width: 198px;
  position: relative;
  z-index: 1;
}

.charBarStyles {
  height: 5px;
  width: 66px;
  background-color: gray;
  border-radius: 5px;
  margin: 5px;
}

.charFillerStyles {
  height: 100%;
  text-align: right;
}

/* add review form css */

/* .form-star-container {
  border: solid red 1px;
  margin: 2px
}

.form-star-container > div {
  border: solid red 1px;
  margin: 2px
}

.form-star-container > div > span {
  border: solid red 1px;
  margin: 2px
} */


