/* Ratings and Reviews */

.ratings-reviews {
  background-color: rgb(159, 198, 172);
  min-height: 300px;
  margin: 80px 0 0 0;
  display: flex;
  flex-direction: row;
}

.reviewList {
  max-height: 500px;
  overflow: auto;
}

/* Quarter star CSS */


.single-star-outline {
  height: 24px;
  width: 20.3px;
}

.single-star-fill {
  position: relative;
  display: inline-block;
  height: 24px;
  background-color: black;
}

.single-star-container {
  height: 24px;
  width: 20.3px;
  display: inline-block;
}

/* Progress Bar CSS */

.barContainerStyles {
  height: 20px;
  width: 120px;
  background-color: "#e0e0de";
  border-radius: 1px;
  border: solid black 1px;
  margin: 5px;
}

.barFillerStyles {
  height: 100%;
  background-color: gray;
  border-radius: inherit;
  text-align: right;
}

.barLabelStyles {
  padding: 5;
  color: white;
  font-weight: bold;
  font-size: 10px;
}

/* Characteristics Display CSS */

.charBarContainer {
  width: 120px;
  display: flex;
  flex-direction: row;
}

.charWordContainer {
  width: 120px;
  display: flex;
  justify-content: space-between;
}

.charContainerStyles {
  height: 5px;
  width: 120px;
}

.charBarStyles {
  height: 5px;
  width: 40px;
  background-color: gray;
  border-radius: 5px;
  margin: 5px;
}

.charFillerStyles {
  height: 100%;
  text-align: right;
}