/* Ratings and Reviews */

.ratings-reviews {
  background-color: rgb(159, 198, 172);
  min-height: 300px;
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.reviewList {
  max-height: 500px;
  overflow: auto;
}

/* Quarter star CSS */


.single-star-outline {
  height: 24px;
  width: 20.3px;
}

.single-star-fill {
  position: relative;
  display: inline-block;
  height: 24px;
  background-color: blue;
}

.single-star-container {
  height: 24px;
  width: 20.3px;
  display: inline-block;
}