#root { /* entire page */
  font-family: 'Varela Round', sans-serif;
  color: rgb(56, 56, 56);
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 50px;
}
button {
  padding: 20px;
  font-size: 1em;
  margin: 10px;
}
a {
  cursor: pointer;
}
.underline {
  text-decoration: underline;
}

.overview {
  background-color: rgb(28, 28, 238);
  padding: 5px;
  height: 1500px;
  margin: 10px;
}
.questions-answers {
  background-color: rgb(216, 190, 183);
  color: white;
  min-height: 300px;
  margin: 10px;
}
.related-products {
  background-color: rgb(183, 156, 168);
  min-height: 300px;
  margin: 10px;
}




/* SHARED */

.modal-bg { /* pop up form BACKGROUND OVERLAY, use on div wrapper for <Moda/> component*/
  /*display: none;  Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /* overflow: auto; Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
#img-view {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  height: 80%;
  max-width: 90%;
  /* background-color: rgb(215, 63, 29); */

}
#pop-up-exit {
  cursor: pointer;
  position: fixed;
  top: 5%;
  left: 90%;
  transform: translate(-50%, -50%);
  color: rgb(255,255,255, .7);
  font-family:  'Varela Round', sans-serif;
  font-size: 3em;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
}
form input,textarea,#qa-model-text,.label1 {
  font-family: 'Varela Round', sans-serif;
  width: 50%;
  padding: 10px;
  margin: 10px auto;
}
textarea {
  resize: none;
}





/* QUESTIONS / ANSWERS */

#questions-answers {
  /* background-color: white; */
  border-top: solid rgb(189, 184, 184) 2px;
  border-bottom: solid rgb(191, 189, 189) 2px;
}

h2 {
  margin: 20px;
}

#qa-search {
  padding: 20px;
  margin: 20px;
  height: 20px;
  width: 80%;
  font-size: 2em;
}
#qa-list {
  background-color: rgb(251, 251, 251);
  max-height: 900px;
  overflow: scroll;
}

.qa-block {
  /* background-color: rgb(169, 205, 205); */
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  font-size: 1.4em;
  border-bottom: solid rgb(236, 233, 233) 1px;
}

.q-box {
  display: flex;
  justify-content: space-between;
  width: 95%;
  /* background-color: rgb(186, 168, 202); */
  padding: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
}
.qa-body {
  padding-left: 20px;
}
.ans-body {
  display: block;
  /* background-color: aquamarine; */
  margin-bottom: 15px;
}
.ans-section {
  padding-left: 60px;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: row;
}
.a-box {
  /* background-color: rgb(99, 157, 208); */
  padding-left: 10px;
  max-height: 320px;
  overflow: auto;
}
.ans {
  /* background-color: rgb(187, 206, 222); */
  padding-left: 20px;
  font-size: 1em;
}
.a-thumbnails {
  max-width: 100px;
  max-height: 100px;
  border: solid rgb(229, 229, 229) .5px;
}
.photo-div {
  /* background-color: rgb(56, 121, 179); */
  padding-left: 20px;
  width: 400px;
  max-height: 100px;
  overflow-x: visible;
  overflow-y: hidden;
}
.load-ans {
  /* background-color: rgb(183, 205, 224); */
  padding: 10px 30px;
  font-size: .8em;
  width: 160px;
}
.q-meta {
  display: flex;
  width: 200px;
  justify-content: space-between;
  /* background-color: rgb(216, 191, 191); */
  font-size: .6em;
  color: grey;
  padding: 10px 0;
}
.no-qs {
  margin: 50px;
}
.q-meta2 {
  width: 500px;
  padding: 5px 40px;
  font-size: .8em;
}
.a-meta {
  display: flex;
  width: 450px;
  justify-content: space-between;
  /* background-color: rgb(216, 191, 191); */
  font-size: .6em;
  color: grey;
  padding: 10px 0;
}



