#root { /* entire page */
  font-family: 'Varela Round', sans-serif;
  color: rgb(56, 56, 56);
}
button {
  padding: 20px;
  font-size: 1em;
  margin: 10px;
}
a {
  cursor: pointer;
}

.overview {
  background-color: rgb(176, 176, 215);
  min-height: 300px;
}
.ratings-reviews {
  background-color: rgb(159, 198, 172);
    min-height: 300px;
}
.questions-answers {
  background-color: rgb(216, 190, 183);
  color: white;
  min-height: 300px;
}
.related-products {
  background-color: rgb(183, 156, 168);
  min-height: 300px;
}





/* QUESTIONS / ANSWERS */

#questions-answers {
  /* background-color: white; */
  border-top: solid rgb(189, 184, 184) 2px;
  border-bottom: solid rgb(191, 189, 189) 2px;
}

h2 {
  margin: 20px;
}

#qa-search {
  padding: 20px;
  margin: 20px;
  height: 20px;
  width: 80%;
  font-size: 2em;
}

.qa-block {
  /* background-color: rgb(169, 205, 205); */
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  font-size: 1.4em;
}

.q-box {
  display: flex;
  justify-content: space-between;
  width: 95%;
  /* background-color: rgb(186, 168, 202); */
  padding: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
}
.qa-body {
  padding-left: 20px;
}

.a-box {
  /* background-color: aliceblue; */
  padding-left: 40px;
}
.ans {
  /* background-color: rgb(187, 206, 222); */
}
.load-ans {
  /* background-color: rgb(183, 205, 224); */
  padding: 5px 40px;
  font-size: .8em;
}
.qa-meta {
  /* background-color: rgb(216, 191, 191); */
  font-size: .8em;
  color: grey;
  padding: 10px 0;
}
.bold {
  /* background-color: rgb(217, 191, 180); */
}